.list-wrapper{
  background: #17c19d;
  padding: 3rem;
  text-align: -webkit-left;
  color: #fff;
  border: 1px solid #52fdd9;
  border-radius: 1rem;
  list-style: none;
  position: relative;
}
.list-wrapper span{
  background: #fff;
  padding: 0px 6px;
  line-height: 3rem;
  margin: 10px;
  border-radius: 4rem;
  font-size: xx-small;
}
